@charset "UTF-8";
.login_body {
	position: absolute;
	width: 78%;
	height: 180%;
	padding-top:10px;
	padding-left: 10%;
}

.login_table {
	position: relative;
	top: 830px;
	left: 990px;
	font-size: 50px;
	padding: 0;
	margin: 114px;
}

form input[type = "text"],form input[type = "password"] {
    font-size: 150%;
    display: block;
    margin: 10px auto;
    border: 2px solid lightslategray;
    padding: 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    text-align: center;
  }

  form input[type = "text"]:focus,form input[type = "password"]:focus {
    width: 280px;
    background-color: honeydew;
  }

  form input[type = "submit"],form input[type = "reset"]{
    display: block;
    margin: 90px auto;
    border: 2px solid lightslategray;
    padding: 10px;
    width: 200px;
    color: honeydew;
    border-radius: 25px;
    font-size:25px;
  }

  form input[type = "submit"],form input[type = "reset"] {
    background-color: teal;
    border: 2px solid lightslategray;
    display:inline
  }
#regist_move:link {
	color: navy;
	font-size:30px;
	padding-top:15%;
	padding-left:25%;
}

#regist_move:visited {
	color: navy;
}

#regist_move:hover {
	color: #a3b1cc;
}

#regist_move:active {
	color: #a3b8cc;
}

a:link {
	color: #9c886e;
}

a:visited {
	color: #9c886e;
}

a:hover {
	color: #a3b1cc;
}

a:active {
	color: #a3b8cc;
}
<!--usersresult-->

img.result_body {
	position: absolute;
	padding-top:10px;
	padding-left: 10%;
}

.error_message {
	position: relative;
	top: -1000px;
	left: 630px;
	font-size: 50px;
	color:red;
	text-decoration:underline;
	padding: 0;
	margin: 114px;
}
.return_message {
	color: navy;
	font-size:45px;
	position:absolute;
	top:2000px;
	left:1250px;
}

.return_message:visited {
	color: navy;
}

.return_message:hover {
	color: #a3b1cc;
}

.return_message:active {
	color: #a3b8cc;
}

a:link {
	color: #9c886e;
}

a:visited {
	color: #9c886e;
}

a:hover {
	color: #a3b1cc;
}

a:active {
	color: #a3b8cc;
}

<!--regist-->
.regist_birth {
    font-size: 150%;
    display: block;
    margin: 10px auto;
    border: 2px solid lightslategray;
    padding: 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    text-align: center;
  }

  .regist_birth {
    width: 280px;
    background-color: honeydew;
  }
