@charset "UTF-8";
.login_body {
	width: 78%;
	height: 300%;
	padding-top:0;
	padding-left: 10%;
}

.login_table {
	position: relative;
	top: -900px;
	left: 310px;
	font-size: 30px;
	padding: 0;
	margin: 114px;
}

form input[type = "text"],form input[type = "password"] {
    font-size: 100%;
    display: block;
    margin: 10px auto;
    border: 2px solid lightslategray;
    padding: 10px;
    width: 150px;
    outline: none;
    border-radius: 28px;
    text-align: center;
  }

  form input[type = "text"]:focus,form input[type = "password"]:focus {
    width: 280px;
    background-color: honeydew;
  }

  form input[type = "submit"],form input[type = "reset"]{
    display: block;
    margin: 90px auto;
    border: 2px solid lightslategray;
    padding: 10px;
    width: 200px;
    color: honeydew;
    border-radius: 25px;
    font-size:25px;
  }

  form input[type = "submit"],form input[type = "reset"] {
    background-color: teal;
    border: 2px solid lightslategray;
    display:inline
  }
#regist_move:link {
	color: navy;
	font-size:30px;
	padding-top:15%;
	padding-left:25%;
}

#regist_move:visited {
	color: navy;
}

#regist_move:hover {
	color: #a3b1cc;
}

#regist_move:active {
	color: #a3b8cc;
}

a:link {
	color: #9c886e;
}

a:visited {
	color: #9c886e;
}

a:hover {
	color: #a3b1cc;
}

a:active {
	color: #a3b8cc;
}
.login_footer {
  top:25%;
  }
<!--usersresult-->

img.result_body {
	position: absolute;
	padding-top:10px;
	padding-left: 10%;
}

.error_message {
	position: relative;
	top: -550px;
	left: 200px;
	font-size: 30px;
	color:red;
	text-decoration:underline;
	padding: 0;
	margin: 114px;
}
.return_message {
	color: navy;
	font-size:30px;
	position:absolute;
	top:1100px;
	left:600px;
}

.return_message:visited {
	color: navy;
}

.return_message:hover {
	color: #a3b1cc;
}

.return_message:active {
	color: #a3b8cc;
}

a:link {
	color: #9c886e;
}

a:visited {
	color: #9c886e;
}

a:hover {
	color: #a3b1cc;
}

a:active {
	color: #a3b8cc;
}

<!--regist-->

img .regist_body {
	position: absolute;
}
  .regist_table {
	position: relative;
	top: -950px;
	left: 35x;
	font-size: 30px;
	padding: 0;
	margin: 114px;
  }

 <!-- .regist_footer {
  position:relative;
  font-size:50px;
  bottom:1340px;
  }-->
