@charset "UTF-8";
.header_ul2 {
	top: 165px;
	position: absolute;
}
.login_leaf:hover,.regist_leaf:hover {
	transform: scale(1.5,1.5);
	cursor: pointer;
}
.login_body {
	position:relative;
	width:80%;
	height:auto;
}

.login_table {
	height: 30%;
	position: absolute;
	left: 35%;
	font-size: 100%;
	padding: 0;
	top:85%;
	overflow:hidden;
}

form input[type = "text"],form input[type = "password"] {
    font-size: 100%;
    display: block;
    margin: 10px auto;
    border: 2px solid lightslategray;
    padding: 10px;
    width: 150px;
    outline: none;
    border-radius: 28px;
    text-align: center;
  }

  form input[type = "text"]:focus,form input[type = "password"]:focus {
    width: 280px;
    background-color: honeydew;
  }

  form input[type = "submit"],form input[type = "reset"]{
    display: block;
    margin: 90px auto;
    border: 2px solid lightslategray;
    padding: 10px;
    width: 200px;
    color: honeydew;
    border-radius: 25px;
    font-size:15px;
  }

  form input[type = "submit"],form input[type = "reset"] {
    background-color: teal;
    border: 2px solid lightslategray;
    display:inline
  }
#regist_move:link {
	color: navy;
	font-size:25px;
	padding-top:15%;
	padding-left:25%;
}

#regist_move:visited {
	color: navy;
}

#regist_move:hover {
	color: #a3b1cc;
}

#regist_move:active {
	color: #a3b8cc;
}

a:link {
	color: #9c886e;
}

a:visited {
	color: #9c886e;
}

a:hover {
	color: #a3b1cc;
}

a:active {
	color: #a3b8cc;
}
.login_footer {
  top:25%;
  }
<!--usersresult-->

img.result_body {
	position: absolute;
	padding-top:10px;
	padding-left: 10%;
}

.error_message {
	position: relative;
	top: -550px;
	left: 200px;
	font-size: 30px;
	color:red;
	text-decoration:underline;
	padding: 0;
	margin: 114px;
}
.return_message {
	color: navy;
	font-size:30px;
	position:absolute;
	top:1100px;
	left:600px;
}

.return_message:visited {
	color: navy;
}

.return_message:hover {
	color: #a3b1cc;
}

.return_message:active {
	color: #a3b8cc;
}

a:link {
	color: #9c886e;
}

a:visited {
	color: #9c886e;
}

a:hover {
	color: #a3b1cc;
}

a:active {
	color: #a3b8cc;
}

<!--regist-->


.regist_table {
	height: 30%;
	position: absolute;
	left: 35%;
	font-size: 100%;
	padding: 0;
	top:85%;
	overflow:hidden;
}

