@charset "UTF-8";

.header {
    text-align: center;
}
.headerbackground {
	width: 50%;
}
ul{

}
li {
	display: inline;
	padding-right: 50px;
	font-family: 'Times New Roman', Times, serif;
}
/*
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
display: inline;
top: 10px;
padding-right: 50px;
}
.headerbackground {

	position:relative;
}*/
