@charset "UTF-8";

/*header*/
.calendar_leaf:hover,.libraries_leaf:hover,.counts_leaf:hover,.logout_leaf:hover {
	transform: scale(1.5,1.5);
	cursor: pointer;
}

.body {
    margin: 100px 100px 100px 200px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background: radial-gradient(#fcfcfc, #fcfcfc 43%, #e7e7e7 51% 52%, #fff 53% 66%, #e0e0e0 70%, #c0c0c0);
    filter: drop-shadow(2px 3px 4px #888);
}
.cutlery {
	width: 350px;
    padding-left: 550px;
    top: 200px;
}
.paper {
    width: 500px;
  height: 600px;
  margin: 100px 100px 100px 50px;
  margin-top: 50px;
  box-shadow: 0 10px 6px -6px #777;
  background: #ffc6ff;
  opacity: 0.9;
}
#Physicals input {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    display       : inline-block;
    border-radius : 50%;          /* 角丸       */
    font-size     : 21pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 17px 88px;   /* 余白       */
    background    : rgba(247, 228, 209, 0.72);     /* 背景色     */
    color         : #006600;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    opacity       : 1;           /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
}
#Physicals :hover {
    box-shadow: none;
    color: #006600;
    background:rgba(247, 228, 209, 0.72);
}
#Manual input {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    display       : inline-block;
    border-radius : 50%;          /* 角丸       */
    font-size     : 21pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 17px 88px;   /* 余白       */
    background    : rgba(247, 228, 209, 0.72);     /* 背景色     */
    color         : #006600;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    opacity       : 1;           /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
}
#Manual :hover {
    box-shadow: none;
    color: #006600;
    background:rgba ;
}

<!--physicals-->
.physicals_table {
	height: 30%;
	position: absolute;
	left: 35%;
	font-size: 100%;
	padding: 0;
	top:85%;
	overflow:hidden;
}