@charset "UTF-8";

#calendar {
  display: flex;
  flex-wrap: wrap;

}
section {
  margin: auto;
}

h1 {
  font-size: 30px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
   width: 100%;
  background-color:white;
}
td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
  display: table-cell;
  height: 50px;
  vertical-align: baseline;
  font-size: 17px;
  color:black;
}
.calendar_td:hover {
	background-color:orange;
}

td:first-child {
  color: red;
}

td:last-child{
  color: royalblue;
}

td.is-disabled {
  color:white;
  background-color:white;
}
#prev, #next {
	display: block;
    border: 2px solid lightslategray;
    width: 200px;
    color: honeydew;
    border-radius: 25px;
    font-size:25px;
    background-color: #00591d;
    border: 2px solid lightslategray;
    display:inline;
}
/*header*/
.libraries_leaf:hover,.counts_leaf:hover,.mypage_leaf:hover,.logout_leaf:hover {
	transform: scale(1.5,1.5);
	cursor: pointer;
}

/*body*/
.body {
    font-family: HuiFontP109;
    color: #fff;
    background-color: #114400;
    margin: 50px 150px 50px 150px;
    padding: 15px;
    border: 9px solid #a60;
    border-radius: 3px;
    box-shadow: 2px 2px 4px #666, 2px 2px 2px #111 inset;
    /*text-shadow: 0px 0px 2px #000;*/
    line-height: 1.9;
    text-align: center;
}

 form input[type = "submit"]{
    display: block;
    margin: 90px auto;
    border: 2px solid lightslategray;
    padding: 10px;
    width: 200px;
    color: honeydew;
    border-radius: 25px;
    font-size:15px;
  }

  form input[type = "submit"] {
    background-color: teal;
    border: 2px solid lightslategray;
    display:inline
  }

a {
	color:balck;
}
